
<% tag_list.each do |tag_list| %>
 <div>
    <%= link_to tag_list.tag_name,search_tag_path(ttag_id: tag_list.id) %>
    <!--コントローラで、ttag_idを取得して、ブロック変数tag_listのidを表示-->

    <%= "(#{tag_list.items.count})" %>
  </div>
<% end %>